body {
  margin: 0 auto;
  background-color: #160012;
  background-size: cover;
  color: white;
}
#centerer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}
#holder {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.charImg {
  width: 200px;
  border: solid transparent 1px;
  border-radius: 3%;
  /* box-shadow: 0 0 100px 15px #48abe0; */
}
#characters {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
}
.char {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.charSpacer {
  width: 100%;
  height: 20px;
}
.nameInput {
  width: 60%;
}
#bumper {
  width: 100%;
  height: 40px;
}
h1, h3 {
  text-align: center;
}
